.bg-color-search {
    background-color: #EEEEEE;
}

.bg-box1 {
    background-color: #7EE5DA;
    width: 36%;
    height: 60px;
    float: left;
    padding: 10px;
    margin-top: 2px;
    margin-right: 2px;
}

.bg-box2 {
    background-color: #70CCC2;
    width: 20%;
    height: 80px;
    float: left;
    margin-top: 2px;
    margin-right: 2px;
}

.bg-box3 {
    background-color: #62B3AA;
    width: 42.5%;
    height: 80px;
    float: left;
    margin-top: 2px;
}

.card {
    width: 90%;
    margin: auto;
}